@import url(font-awesome.min.css);

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding:0;
		margin:0;
	} 

    footer {
        background: 000;
	}

	body {
		-ms-overflow-style: scrollbar;
		 background: radial-gradient(#1F1E1B, #000);;
		color: #111;
		font-family: 'Poppins';
		font-size: 13pt;
		font-weight: normal;
		line-height: 1.5;
	}
	.Row {
		display: flex;
	}

	.gue { 
		background: url(profile.png); 
		background-size: 100px; 
		border-radius: 10px;
		background-repeat: no-repeat;
		width: 100px;
		height: 100px;
	}

	.Column {
		text-align: center;
		align-self: center;
		align-items: center;
	}
  
	.github { 
		display: table-cell;
		margin: 1em 2em 1em 120px;
		background: url(github.png); 
		padding: 20px;
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
		border:2px solid #fff;
		background-color: #fff;
		border-radius: 10px;
		width: fit-content;
		position: relative;
	}

	.linkedin { 
		display: table-cell;
		margin: 1em 2em 1em 120px;
		background: url(in.png);
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
		padding: 20px;
		border:2px solid #fff;
		background-color: #fff;
		border-radius: 10px;
		width: fit-content;
		position: relative;
	}

	.desc {
		position: relative;
	}

	.title {
		font-family: 'Poppins'; 
		font-weight: bold;
		font-size: 24px;
		width: 300px;
		height: 60px;
		left: 120px; 
		top: 10px;
		position: absolute; 
	} 

	.item {
		color: #fff;
		margin: 40px 40px 40px 120px;
		font-size: 20px;
		left: 100px; 
	}

	.photo {
		background: url(profile.png); 
		background-size: conver; 
		border-radius: 10px;
		background-repeat: no-repeat;
		display: block;
		width: 100%;
		height: 600px;
		background-position: center; 
		position: relative;
		align-self: center;
		align-items: center;
		align-content: center;
	}

	.ac {
		text-align: center;
		margin-left: 20px;
		font-weight: bold;
		font-family: 'Poppins';
		font-size: 16px;
	}

	.ad {
		margin: 20px 10px 10px 120px;
		font-weight: bold;
		font-family: 'Poppins';
		font-size: 16px;
	}

	.number {  
		font-family: 'Poppins'; 
		font-size: 24px;
		width: 60px;
		height: 60px;
		left: 40px; 
		top: 10px;
		position: absolute; 
	}

	.parent {
		position: relative;
	}

	.poin { 
		margin: 1em 1em 1em 1em;
		border:2px solid #fff;
		background-color:transparent;
		border-radius: 10px;
		width: 60px;
		height: 60px;
		left: 0;
		transform: rotate(45deg);
	}

	.boxed {
		margin: 2em 2em 2em 0em;
		padding: 20px;
		border:2px solid #fff;
		background-color: #fff;
		border-radius: 10px;
		width: fit-content;
	}

	.project {
		margin: 2em 0 0 0;
		background: url(project.png);
		background-repeat: no-repeat;
        height: 400px;
        width:400px;
        background-size: 100%;
	}

	.organizationtitle {
		font-weight: bold;
	}

	.organizationdesc {
		font-weight: normal;
		font-size: 14px;
	}

	html {
		scroll-behavior:smooth;
	}

	.list {
	    display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
	}

    .feedback {
        height: 120px;
        width: 100%;
        background: url(feedback.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position:center;
        margin: 20px auto;
    }

    .feedbackinfo {
        text-color: #000;
        color: #000;
        text-align: center;
        margin: 10px auto;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20pt
    }

    .allformat {
        height: 120px;
        width: 100%;
        background: url(allformat.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position:center;
        margin: 20px auto;
    }

    .allformatinfo {
        text-color: #000;
        color: #000;
        text-align: center;
        margin: 10px auto;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20pt
    }

    .gallery {
        height: 120px;
        width: 100%;
        background: url(gallery.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position:center;
        margin: 20px auto;
    }
    .galleryinfo {
        text-color: #000;
        color: #000;
        text-align: center;
        margin: 10px auto;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20pt
     }

    .aba {
        height:400;
        width: 600;
        margin:20px;
    }

    .abi {
        height:400;
        width: 600;
        margin:20px;
    }

    .abu {
        height:400;
        width: 600;
        margin:20px;
    }



    .im {
        font-size:26pt;
        font-weight:500;
        text-align:center;

    }
    .om {
        background: url(google.png);
        height: 100px;
        width:300px;
        background-size: cover;
    }

    .gile {
		/* background: radial-gradient(#e66465, #9198e5); */
        /* background: url(back.png) center; */
        /* background-size: cover; */
        margin:0!important;
        padding:20px 0 0 0;
    }

	body.is-loading *, body.is-loading *:before, body.is-loading *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
		padding: 0 !important;
	}

	a {
		-moz-transition: color 0.2s ease;
		-webkit-transition: color 0.2s ease;
		-ms-transition: color 0.2s ease;
		transition: color 0.2s ease;
		text-decoration: underline;
	}

	a:hover {
		color: #00BC8A !important;
		text-decoration: none;
	}


	@media screen and (max-width: 1680px) {

		body{
			font-size: 13.5pt;
		}

	}

	@media screen and (max-width: 1366px) {

		body, input, select, textarea {
			font-size: 12.5pt;
		}
	}

	@media screen and (max-width: 980px) {

		body{
			font-size: 12pt;
		} 
	}

	@media screen and (max-width: 736px) {

		body {
			font-size: 11.5pt;
		}
 
	}

	@media screen and (max-width: 480px) {
		body {
			font-size: 11.5pt;
		}

		.om {
		    align: center;
		}
	}

	p {
		color: white;
		text-align: left;
	}

	.expertise {
		font-family: 'Poppins';
		font-weight: bold;
		font-size: 18px;
		color: white;
		margin: 0 0 1em 0; 
	}

	h2, h3, h4, h5, h6 {
	    font-family: 'Poppins';
		font-weight: normal;
		line-height: 0.0;
		margin: 0 0 1em 0;
		color: inherit;
		text-decoration: none;
	}

	h2 {
		color: black;
		font-family: 'Poppins';
		font-weight: bold;
	}

	h1 {
	    font-family: 'Poppins';
	    font-weight: bold;
	    font-size: 40pt;
        line-height: 1.0;
        margin: 0 0 1em 0;
        color: #000;
        text-decoration: none;
	}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}


	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
		font-family: 'Poppins'
	}

	.align-right {
		text-align: right;
	}

	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 2em;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: bold;
		height: 3.5em;
		letter-spacing: 0.1em;
		line-height: 3.65em;
		padding: 0 3em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

	@media screen and (max-width: 480px) {
		button,
		.button {
			padding: 0;
		}
	}

	button,
	.button {
		background-color: #fafafa;
		color: #666 !important;
	}

	button:hover,
	.button:hover {
		background-color: white;
	}

	button:active,
	.button:active {
		background-color: #ededed;
	}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

	ul li {
		padding-left: 0.5em;
		color: white;
	}

	ul.checklist {
		list-style: none;
		padding-left: 0;
	}

	ul.checklist li {
		text-decoration: none;
		margin-bottom: 1.5em;
		color:#0C9;
		padding-left: 0;
	}

	ul.checklist li:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	ul.checklist li:before {
		margin-right: 0.75em;
	}

	ul.contact {
		list-style: none;
		padding: 0;
		font-family: 'Poppins';
	}

	ul.contact li {
		text-decoration: none;
		padding: 0.65em 0 0 0em;
		color:#fff;
	}

	ul.contact li a{
		color:#fff !important;
	}

	ul.contact li:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	i {
        font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		margin-right:15px ;
		margin-left: 15px;
	}

	ul.contact li:before {
		float: left;
		margin-left: -2em;
	}

	ul.contact li:first-child {
		padding-top: 0;
	}

	ul.contact li a {
		color: white;
		text-decoration: none;
	}

/* divided */
	.divided {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		font-family: 'Poppins';
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 2em;
	}

	.divided > * {
		width: 50%;
	}

	.divided > *:nth-child(odd) {
		padding-right: 3em;
	}

	.divided > *:nth-child(even) {
		padding-left: 3em;
		border-left: solid 2px;
	}

	.divided > * > :last-child,
	.divided > * > :last-child > :last-child,
	.divided > * > :last-child > :last-child > :last-child {
		margin-bottom: 0;
	}

	@media screen and (max-width: 980px) {

		.divided > :nth-child(odd) {
			padding-right: 2em;
		}

		.divided > :nth-child(even) {
			padding-left: 2em;
		}
 
	}

	@media screen and (max-width: 736px) {

		.divided {
			padding-bottom: 0;
		}

		.divided > * {
			width: 100%;
			margin-bottom: 2em;
		}

		.divided > *:nth-child(odd) {
			padding-right: 0;
		}

		.divided > *:nth-child(even) {
			border-left: none;
			padding-left: 0;
		}

	}

	.divided > :nth-child(even) {
		border-left-color: white;
	}

/* Spotlight */

	.spotlight {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: left;
		-webkit-align-items: left;
		-ms-align-items: left;
		align-items: left;
		margin-bottom: 3em;
	}

	.spotlight .image {
		width: 40%;
	}

	.spotlight .image img {
		width: 100%;
	}

	.spotlight .content { 
		padding: 2em 3em 0.1em 3em;
		width: 80%;
	}

	@media screen and (max-width: 980px) {

		.spotlight .image {
			width: 55%;
		}

		.spotlight .content {
			padding: 1.5em 2em 0.1em 4em;
			width: 45%;
		}

	}

	@media screen and (max-width: 980px) {

		.spotlight {
			display: block;
			margin-bottom: 2em;
			margin-left: 1em;
		}

    	li:before {
            margin: 0;
            width:100px;
    	}

		ul.contact li a {
        	text-align:center;
        }

        ul.contact li {
        	text-align:center;
        }

        ul.contact {
            text-align:center;
            list-style: none;
            padding: 0;
            margin:0;
        }

		.align-right {
            text-align: center;
         }

		.list {
		    display:block;
			margin-bottom: 2em;
			align-items:center;
		}

		.feedback .gallery .allformat {
		    background-position:center ;
		    align-items:center;
		    margin-left: auto;
		    margin-right:auto;
		}

		.aba{
		    align-items:center;
            margin:20px auto;
		}

		.spotlight .image {
			width: 100%;
		}

		.spotlight .content {
			padding: 1em 2em 0.1em 2em;
			width: 100%;
		}

	}

	@media screen and (max-width: 980px) {

		.spotlight .content {
			padding: 1em 1.0em 0.1em 1.0em;
		}

	}

	.spotlight {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}
 
 

	.float-btn{
		position: fixed;
		width: 60px;
		height: 60px;
		bottom: 25px;
		background-color: #0C9;
		color: #FFF;
		border-radius: 50px;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
		align-items:center;
	}

	.float-btn-left{
		left: 25px;
	}

	.float-btn-right{
		right: 25px;
	}

	.float-icon{
		margin-top:22px;
	}

	.float-btn{
		display: none;
	}


	@media screen and (max-width: 600px) {

		.float-btn{
			display: block;
		}

		.om {
		    align-items: center;
		    align: center;
		}

		.device-border {
		    margin: 20px auto;
		}

		.gile {
		    background-size: 250%;
		    background-repeat: no-repeat;
		    background-position: left top;
		}

		h1 {
		    text-align: center;
		}

		p {
		    text-align: left;
		}

	}